.cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards__more {
    width: fit-content;
    display: flex;
    align-self: center;
    background: #B2BEC3;
    border-radius: 200px;
    padding: 12px 30px;
    color: #fff;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 500;
}